.bg-gradient-radial {
    background: radial-gradient(circle, rgba(113, 81, 95, 1) 81%, rgba(0, 0, 0, 1) 100%);
}
.blink-bg-gradient {
    animation: blink 2s infinite; /* 设置动画名称、持续时间和重复次数 */
}
@keyframes blink {
    0%, 100% {
      opacity: 1; /* 透明度 100% */
    }
    50% {
      opacity: 0.6; /* 透明度 60% */
    }
}