<section class="main">
  <div class="h-[100vh] w-[100vw] bg-gray-400">
    <div class="bg-white h-[30px] relative flex justify-end">
      <button class="w-30px h-20px m-5px border border-solid border-black text-xs" @click="clickMenu(true)">三</button>
    </div>
    <div v-if="showPopup" class="h-full w-full absolute flex justify-end top-0 left-0">
      <div class="h-full w-1/2" @click="clickMenu(false)"></div>
      <div class="h-full w-1/2 bg-black text-white ">
        <ul>
          <menuItem :menuData="datas"></menuItem>
        </ul>
      </div>
    </div>
    <div class="w-full h-full flex flex-col justify-center">
      <div class="grid grid-cols-3 gap-2 p-2">
        <div v-for="n in 9" class="w-full h-100px border-2px border-solid border-black bg-gradient-radial" :class="(n==3||n==5||n==9)?'blink-bg-gradient':''"></div>
      </div>
    </div>
  </div>
</section>

