<section class="main">
  <div class="h-[100vh] w-[100vw] bg-gray-400 ">
    <div class="bg-white h-[30px] relative flex justify-end">
      <button class="w-30px h-20px m-5px border border-solid border-black text-xs" @click="clickMenu(true)">三</button>
    </div>
    <transition name="slide">
      <!-- <div v-if="showPopup" class="h-full w-full absolute flex justify-end top-0 left-0 z-30 sliding-div"> -->
      <div v-if="start" class="h-full w-full absolute flex justify-end top-0 z-30 sliding-div" :class="showPopup?'slide-in left-0':'slide-out left-[390px]'">
        <div class="h-full w-1/2" @click="clickMenu(false)"></div>
        <div class="h-full w-1/2 bg-black text-white ">
          <ul>
            <menuItem :menuData="datas"></menuItem>
          </ul>
        </div>
      </div>
    </transition>
    <div class="w-full h-[814px] flex flex-col justify-center">
      <div class="grid grid-cols-3 gap-2 p-2">
        <div v-for="n in 9" class="w-full h-100px border-2px border-solid border-black bgGradient" :class="(n==3||n==5||n==9)?'blinkAnimation':''">
          <div v-if="n==1||n==3||n==7||n==9" class="w-full h-full flex justify-center flex-col">
            <div class="w-full flex justify-center">
              <div class="w-30px h-30px bg-[#A5F12BFF] rounded-8 flex flex-col justify-center moveRightAnimation z-10">
                <div class="w-full text-center">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

